<%# app/views/bookmarks/index.html.erb -%>
<%-
  # The "Bookmarks" page renders each document type according to its own
  # presenter.
  #
  # The structure of this template aligns closely with that of:
  # @see app/views/saved_searches/index.html.erb
  # @see app/views/search_history/index.html.erb

  i18n_opt = { scope: 'blacklight.bookmarks' }
  page_heading = t('title', i18n_opt)
  column_width = 'col-md-12'

  @page_title = t(
    'page_title',
    i18n_opt.merge(
      application_name: application_name,
      default:          page_heading
    )
  )

  error =
    if current_or_guest_user.blank?
      'need_login'
    elsif @document_list.blank?
      'no_bookmarks'
    end

  if error
    error = t(error, i18n_opt)
    template_opts = nil
  else
    template_opts = { document_list: @document_list }
  end
-%>

<div id="content" class="<%= column_width -%>">

  <h2 class='page-heading'><%= page_heading %></h2>

  <%- if error -%>

    <h3 class='section-heading'><%= error %></h3>

  <%- else -%>

    <%= render 'sort_and_per_page' %>
    <%= render 'tools', template_opts %>
    <%= render 'document_list', template_opts %>
    <%= render 'results_pagination' %>

  <%- end -%>

</div>
