<%# app/views/catalog/_previous_next_doc.html.erb -%>
<%-
  # Using the Bootstrap Pagination class

  total    ||= search_session['total']
  current  ||= search_session['counter']

  return if total.to_i.zero?

  prev_doc ||= @previous_document
  next_doc ||= @next_document

  search_label ||= t('blacklight.search.start_over')
  search_path  ||= start_over_path(current_search_session.try(:query_params) || {})
  search_opt   ||= { id: 'startOverLink', class: 'btn' }

-%>

<div id='previousNextDocument' class='pagination-search-widgets'>
  <div class="page_links">
    <%= link_to_previous_document(@previous_document) -%> |
    <%= item_page_entry_info -%> |
    <%= link_to_next_document(@next_document) -%>
  </div>
  <%- if current_search_session -%>
    <div class="pull-right search-widgets">
      <%= link_back_to_catalog(class: 'btn') %>
      <%= link_to(search_label, search_path, search_opt) %>
    </div>
  <%- end -%>
</div>
